<div class = "reply">
  <% if !comment.nil? %>
  <span>
    <p><%= comment.content %></p>
    <% from_reply_form ||= nil %>

  <p class="content"> Replied on
    <%= I18n.l comment.created_at.in_time_zone, :format => :short %>
    <% unless from_reply_form %>
        <%= link_to 'reply', new_comment_path(comment.id) %>
    <% end %>
  </p>
  <% else %>
  <span><p class="content"><%= link_to 'reply', directive.comments.new %></p></span>
  <% end %>

  </span>
</div>

<!--NEED CSS SHEET HERE-->