<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= message.subject %> <br>
          <small><b>From: </b><%= message.sender.name %></small><br>
          <small><b>Date: </b><%= display_date(message.created_at.in_time_zone('Eastern Time (US & Canada)')) %></small>
          
          <!--strftime("%-d %B %Y, %H:%M:%S")-->
        </h4>
        <%= message.body %>
      </div>
    </div>
<% end %>