<% directive = Directive.find_by(id: directive_id) %>
<% id = directive_id %>
<% unless directive.creators.include?(current_user) %>
  <div id="sign_form">
    <% if directive.signers.include?(current_user) %>
      <%= render partial: 'shared/unsign', locals: {directive_id: id} %>
    <% elsif !directive.sponsors.include?(current_user) %>
      <%= render partial: 'shared/sign', locals: {directive_id: id} %>
    <% end %>
  </div>
<% end %>