<% directive = Directive.find_by(id: directive_id) %>

<%= form_for(directive.sponsorships.find_by(directive_id: directive_id),
        html: { method: :delete }, remote: true) do |f| %>
  <div><%= hidden_field_tag :user_id, current_user[:id] %>
  <%= hidden_field_tag :directive_id, directive_id %></div>
  <%= f.submit "Unsponsor", class: "btn btn-primary" %>
<% end %>
